{% extends "base.html" %}

{% block page-title %}People{% endblock %}
{% block bread-crumbs %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">People</li>
        </ol>
    </nav>
{% endblock %}
{% block page-tools %}
    <a href="#0" data-modal-url="{% url 'person-add' %}"
       class="d-flex flex-column align-items-center justify-content-center py-3">
        <i class="ti-square-plus icon-md"></i>
        <small class="text-muted">Add Person</small>
    </a>
{% endblock %}

{% block content %}
    <table class="table table-ruled">
        <thead>
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Age</th>
            <th>Institution</th>
            <th>Country</th>
        </tr>
        </thead>
        <tbody>
        {% for person in object_list %}
            <tr>
                <td><a href="#0" data-modal-url="{% url 'person-edit' pk=person.pk %}">{{ person.first_name }}</a></td>
                <td>{{ person.last_name }}</td>
                <td>{{ person.age }}</td>
                <td>{{ person.institution.name }}</td>
                <td>{{ person.institution.country }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% if is_paginated %}
        <nav aria-label="Page navigation example">
          <ul class="pagination">
              <li class="page-item"><a class="page-link" href="?page=1">First</a></li>
                <li class="page-item">
                    <a class="page-link"
                       {% if page_obj.has_previous %}href="?page={{ page_obj.previous_page_number }}"{% endif %}
                    >Previous</a>
                </li>
            <li class="page-item"><span class="page-link" disabled>
                Page {{ page_obj.number }} / {{ page_obj.paginator.num_pages }}
            </span></li>
              <li class="page-item">
                  <a class="page-link"
                     {% if page_obj.has_next %}href="?page={{ page_obj.next_page_number }}"{% endif %}
                  >Next</a></li>
              <li class="page-item"><a class="page-link" href="?page={{ page_obj.paginator.num_pages}}">Last</a></li>
          </ul>
        </nav>
    {% endif %}
{% endblock %}