{% load static %}
{% load itemlist %}
<table class="table item-list table-sm">
    <thead>
    <tr>
        {% for header in view.get_headers %}
            <th scope='col' class='{{ header.style }}'>{% if header.url %}<a href='{{ header.url }}'>{{ header.text }}</a>{% else %}{{ header.text }}{% endif %}&nbsp;</th>
        {% endfor %}
    </tr>
    </thead>
    <tbody>
    {% for obj in object_list %}
        {% show_row obj %}
    {% empty %}
        <tr>
            <td colspan="{{ num_columns }}" class="text-muted text-center py-5 border-bottom">No Items</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
<style>
    .item-list {
        width: 100%;
    }
    .item-list th.sorted-dn::after {
        content: "\02191";
    }
    .item-list th.sorted-up::after {
        content: "\02193";
    }
    .item-list thead {
        border-bottom: 2px solid var(--bs-border-color-translucent);
    }
    .item-list thead th {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
</style>


